<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="../../application/test_bootstrap.php">
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./classes/</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="Database Default Implementations">
			<directory suffix=".php">tests/database/base</directory>
			<directory suffix=".php">tests/database/sql</directory>
		</testsuite>
		<testsuite name="Database MySQL Implementations">
			<directory suffix=".php">tests/database/mysql</directory>
		</testsuite>
		<testsuite name="Database PostgreSQL Implementations">
			<directory suffix=".php">tests/database/postgresql</directory>
		</testsuite>
		<testsuite name="Database PDO Implementations">
			<directory suffix=".php">tests/database/pdo</directory>
		</testsuite>
		<testsuite name="Database SQLite Implementations">
			<directory suffix=".php">tests/database/pdo/sqlite</directory>
		</testsuite>
	</testsuites>
</phpunit>
