<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="../../application/test_bootstrap.php">
	<filter>
		<whitelist addUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">./classes/</directory>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="Database Default Implementations">
			<directory suffix=".php">tests/database/base</directory>
		</testsuite>
		<testsuite name="Database MySQL Implementations">
			<file>tests/database/mysql/testsuite.php</file>
		</testsuite>
		<testsuite name="Database PostgreSQL Implementations">
			<file>tests/database/postgresql/testsuite.php</file>
		</testsuite>
		<testsuite name="Database PDO Implementations">
			<file>tests/database/pdo/testsuite.php</file>
		</testsuite>
		<testsuite name="Database SQLite Implementations">
			<file>tests/database/pdo/sqlite/testsuite.php</file>
		</testsuite>
		<testsuite name="Database Driver Tests">
			<file>tests/database/driver/testsuite.php</file>
		</testsuite>
	</testsuites>
</phpunit>
